<%- include("template/head", {pageTitle: '404'} ) %>
    <div class="container align-items-center" style=" height:95% " >

        <h1 class="text-center fs-1 text-danger">Página 404</h1>

    </div>

<%- include('template/footer'); %>